<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>blogpage</title>
</head>
<body>
    <h1><%= blogs %></h1>
    <h1><%= blogs.title %></h1>
    <!-- <img src="<%= blogs.coverImageURL %>" alt=""> -->
    <h1><%= blogs.coverImageURL %></h1>
    <img src="<%= blogs.coverImageURL %>" alt="try">
     <img src="./uploads/try.png" alt="try image">
    <h4><%= blogs.body %></h4>
    <h1>hello world</h1>
</body>
</html>